body{
    height: 3000px;
}

.profile-picture{
    width: 50px;
    margin: 5px;
    height: 50px;
    border-radius: 50%;
}
.container{
    background-color: rgb(43, 36, 36);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px;


}
.side{
    margin-left: 60px;
    background-color: rgb(78, 66, 66);
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    bottom: 0;
    /* padding-top: 0px; */
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial;
}
.channel{
    line-height: 25px;
    padding: 10px;
    font-family: Arial;
}
/* .info{
    padding-left: 10px;
}
.plus{
    padding-right: 10px;
    /* font-size: 25px; */
    font-family: Arial;
    padding-top: -10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.symbol{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 0px;
    padding-right: 10px;
} */