P{
 font-family: Arial;   
}
.para{
    font-size: 40px;
    margin-bottom: 25px;
}
input{
    display: block;
    background-color: rgb(240, 240, 240);
    border: none;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
.destination{
    margin-bottom: 35px;   
}

.Request{
    background-color: black;
    color: white;
    border : none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
}
.later{
    background-color: rgb(240, 240, 240);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    margin-left: 10px;


}
