body{
    margin: 2px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.container{
    padding: 16px;
}
.container> div >h2{
    text-align: center;

}
.intro{
    margin: -16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.964);
    color: white;
    text-align: center;
}
#profile-image{
    border-radius: 16px;
    height: 400px;
    width: 400px; 
    border-radius: 50%;

}
.social-links img{
height: 30px;
width: 30px;
/* border-radius: 0; */
}

.social-links a{
    text-decoration: none;
    margin: auto 16px;
}
/* .about-me{

}


.hobbies{

}
.technologies{
    
} */

table,th,td
{
    border: 2px solid;
    border-collapse: collapse;
}

td,
tr{
    width: 500px;
    padding: 10px;
}

.social-media a{
    margin-right: 40px;
}